.navbar-brand {
	color: #FFA500 !important;
	font-weight: 600;
	font-size: 24px;
	line-height: 36px;
}

.navbar {
	font-family: "Poppins" !important;
}

.nav-item {
	color: #6C6C6C !important;
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
}

.btn {
	color: white !important;
	background-color: #FFA500 !important;
}

.btn-nav {
	width: 200px;
	height: 60px;
	left: 1068px;
	border-radius: 0px, 0px, 10px, 10px;

}


#img-about {
	width: 400px;
	height: 450px;

}

.container {
	font-family: "Poppins" !important;
}

.title-about {
	size: 46px;
	line-height: 69px;
	font-weight: 600;
}

.btn-about {
	width: 296px;
	height: 58px;
	border-radius: 10px;
}

footer {
	color: white !important;
}

.py-1 {
	text-decoration: none !important;
	color: white !important;
}


.hero {
  background-image: linear-gradient(to bottom, #f7f7f7, #e7e7e7);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tracking-form {
  margin-top: 50px;
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tracking-status {
  margin-top: 50px;
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Header Styling */
#header {
  background: linear-gradient(90deg, #FFA500, #4F4F4F); 
  color: #fff;
}

#header .fw-bold {
  color: #FFD700; 
}

/* About Section */
#about img {
  max-width: 100%;
  border: 2px solid #ddd;
  	width: 500px;
	height: 500px;
}

/* Features Section */
#features i {
  color: #6C6C6C; 
}

#features h5 {
  font-weight: bold;
}


